@page

<style media="all">
    @@page {
        size: portrait;
    }

    #table th,
    #table td {
        padding: 18px 6px;
    }
</style>

<div class="row">
    <div class="col-12">
        @Html.Partial("_StagePartial", new Stage
        {
            Title = "Stage 3A — Weeks 18 - 20",
            SetsPerDay = new[] {6, 6, 6, 6, 6},
            Exercises = new[]
            {
                "Thin Tummy, Lift One Leg",
                "Curlup, Hands on Elbows",
                "Side Raise",
                "Swiss Ball Alt Leg Lift",
                "Seated Cable Row",
                "Barbell Bench Press, Feet on Bench",
                "Lat Pulldown Behind Neck",
                "Barbell Seated Shoulder Press",
                "EZ-Bar Biceps Curl Reverse Grip",
                "EZ-Bar Lying Triceps Extension"
            },
            Supersets = new []{ 5, 7, 9 },
            HighlightColumns = true
        })
    </div>
    <div class="col-12">
        @Html.Partial("_StagePartial", new Stage
        {
            Title = "Stage 3B — Weeks 18 - 20",
            SetsPerDay = new[] {6, 6, 6, 6, 6},
            Exercises = new[]
            {
                "Knee-up",
                "Barbell Rollout",
                "Russian Twist",
                "Swiss-ball Alt Leg Lift",
                "Barbell Squat",
                "Deadlift",
                "Dynamic Lunge",
                "Supine Hip-thigh Extension",
                "Standing Calf Raise",
                "Barbell Shrug"
            },
            Supersets = new int[0],
            HighlightColumns = true
        })
    </div>
</div>
