@page

<div class="row">
    <div class="col">
        @Html.Partial("_StagePartial", new Stage
        {
            Title = "Stage 2A — Weeks 1 - 3",
            Weeks = 4,
            DaysPerWeek = 1,
            Sets = new[] { 1, 1, 1, 1 },
            Repeats = new[] { 1, 2, 2, 2 },
            Exercises = new[]
            {
                "Thin Tummy, Lift One Leg",
                "Curlup, Arms Straight & Parallel",
                "Side Raise",
                "Seated Thin Tummy + Cheek Squeeze",
                "Kind Deadlift",
                "Single Leg Squat, Other Leg Out Front",
                "Prone Hip-Thigh Extension",
                "Static Lunge, Back Foot on Low Block",
                "Single-Leg Stiff-Legged Deadlift",
                "Single-Leg Sqat, on Low Block",
                "Leg Curl",
                "Leg Extension",
                "Seated Calf Raise",
                "Standing Single-Leg Calf Raise",
                "Dumbbell Shrug, Behind Body",
                "Dumbbell Shrug, To Front"
            },
            Supersets = new []{ 5, 7, 9, 11, 13, 15 }
        })
    </div>
    <div class="col">
        @Html.Partial("_StagePartial", new Stage
       {
           Title = "Stage 2B — Weeks 1 - 3",
           Weeks = 4,
           DaysPerWeek = 1,
           Sets = new[] { 1, 1, 1, 1 },
           Repeats = new[] { 1, 2, 2, 2 },
           Exercises = new[]
            {
                "Toes to Sky",
                "Curlup, Legs in Air Arms Crossed",
                "Lateral Leg Lowering",
                "Pushup Hold, Lift Leg Then Arm",
                "Seated Cable Row",
                "Barbell Bench Press, Feet on Bench",
                "Reverse Dumbell Fly",
                "Dumbell Fly",
                "Lat Pulldown",
                "Barbell Seated Shoulder Press, To Front",
                "Dumbell Lying Pullover, 1 Dumbell",
                "Dumbell Seated Lateral Raise",
                "Dumbell Seated Biceps Curl, Incline",
                "Dumbell Seated Overhead Triceps Ext",
                "Dumbell Wrist Curl",
                "Dumbell Wrist Extension"
            },
            Supersets = new[] { 5, 7, 9, 11, 13, 15 }
   })
    </div>
</div>
