@page
@{
    var a = new Stage
    {
        Title = "Stage 2A — Weeks 11 - 13",
        SetsPerDay = [4, 4, 4, 4],
        Supersets = [5, 7, 9, 11, 13, 15],
        Exercises =
        [
	        "Thin Tummy",
            "Curlup, Arms Straight & Parallel",
            "Side Raise",
            "Seated Thin Tummy",

            "Prone Hip-Thigh Extension",
            "King Deadlift",

            "Static Lunge",
            "Single Leg Squat",

            "Leg Curl",
            "Single-Leg Stiff-Legged Deadlift",

            "Leg Extension",
            "Single-Leg Squat",

            "Standing Single-Leg Calf Raise",
            "Seated Calf Raise",

            "Dumbbell Shrug, To Front",
            "Dumbbell Shrug, Behind Body"
        ]
    };

    var b = new Stage
    {
        Title = "Stage 2B — Weeks 11 - 13",
        SetsPerDay = [4, 4, 4, 4],
        Supersets = [5, 7, 9, 11, 13, 15],
        Exercises =
        [
	        "Toes to Sky",
            "Curlup, Legs in Air",
            "Lateral Leg Lowering",
            "Pushup Hold, Lift Leg Then Arm",

            "Reverse Dumbbell Fly",
            "Seated Cable Row",

            "Dumbbell Fly",
            "Barbell Bench Press",

            "Dumbbell Lying Pullover",
            "Lat Pulldown",

            "Dumbbell Seated Lateral Raise",
            "Barbell Seated Shoulder Press",

            "Dumbbell Wrist Curl",
            "Dumbbell Seated Biceps Curl",

            "Dumbbell Wrist Extension",
            "Dumbbell Seated Overhead Triceps Ext"
        ]
    };
}

<div class="row">
    <div class="col">
        <partial name="_StagePartial" model="a" />
    </div>
    <div class="col">
        <partial name="_StagePartial" model="b" />
    </div>
</div>
