@page
@{
    var a = new Stage
    {
        Title = "Stage 3A — Weeks 18 - 20",
        SetsPerDay = [6, 6, 6, 6],
        Supersets = [5, 7, 9],
        Exercises =
        [
	        "Thin Tummy, Lift One Leg",
            "Curlup, Hands on Elbows",
            "Side Raise",
            "Swiss Ball Alt Leg Lift",
            "Seated Cable Row",
            "Barbell Bench Press, Feet on Bench",
            "Lat Pulldown Behind Neck",
            "Barbell Seated Shoulder Press",
            "EZ-Bar Biceps Curl Reverse Grip",
            "EZ-Bar Lying Triceps Extension"
        ]
    };

    var b = new Stage
    {
        Title = "Stage 3B — Weeks 18 - 20",
        SetsPerDay = [6, 6, 6, 6],
        Supersets = new int[0],
        Exercises =
        [
	        "Knee-up",
            "Barbell Rollout",
            "Russian Twist",
            "Swiss-ball Alt Leg Lift",
            "Barbell Squat",
            "Deadlift",
            "Dynamic Lunge",
            "Supine Hip-thigh Extension",
            "Standing Calf Raise",
            "Barbell Shrug"
        ]
    };
}

<partial name="_LayoutPortrait" />

<div class="row">
    <div class="col-12">
        <partial name="_StagePartial" model="a" />
    </div>
    <div class="col-12">
        <partial name="_StagePartial" model="b" />
    </div>
</div>
